@inherits LayoutComponentBase

<div class="my-nav">
    <label class="my-nav-item">
        <a href="/">Add Customer</a>
    </label>
    
    <label class="my-nav-item">
        <a href="/list">View Customers</a> 
    </label>
    
    <label class="my-nav-item">
        <a href="https://github.com/MostafaELite/HelmesCustomerManager#readme">ReadMe</a>
    </label>
    
    <label class="my-nav-item">
        <a href="https://www.linkedin.com/in/mustafamohamedahmed/">Connect On LinkedIn</a>
    </label>
</div>
<main>
    @Body
</main>

